/* .container {
    width: auto;
    height: 1000px;
} */

table,
td,
th {
    border: 1px solid grey;
    text-align: left;
}

table {
    border-collapse: collapse;
    align-content: center;
}

th {
    padding: 12px;
}

td {
    padding: 10px;
}

input {
    float: right;
}

.dropdown {
    border: 0px;
    outline: 0px;
    margin: 15px;
    background-color: rgb(190, 178, 178);
}

nav {
    background-color: rgb(190, 178, 178);
}