/* .container {
    width: auto;
    height: 1000px;
} */




table, td, th {  
    border: 1px solid grey;
    text-align: left;
  }
  table {
    border-collapse: collapse;
    align-content: center;
  }
  th{
    padding: 12px;
  }
   td {
    color:white;
    padding: 10px;
  }