
<!-- <div *ngFor = 'let product of productData'>
    <img [src] = 'product.url'>
</div> -->

<!--TaskPrintTableDataFromArrayOfObjects -->
<!-- <h1 style = "text-align:center">USER DATA</h1> 
<div class = 'container'>
<input type="text" (keyup)='searchInput($event?.target.value)'>

    <table>
        <thead>
                 <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>body</th>
                </tr>
        </thead>
        <tbody>
                <tr *ngFor = "let data of filterData">
                    <td>{{data.id}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.email}}</td>                       
                     <td>{{data.body}}</td>
                </tr>
        </tbody>
     </table>  
 </div> -->
<div style ="background-color:indianred; width:100%;" >
    <!-- <app-spirit> </app-spirit>   -->
    <app-spirit></app-spirit>
    <br>
    <!-- <app-south-west></app-south-west>
    <br>
    <app-delta></app-delta>
    <br>
    <app-american></app-american> -->
</div>
   




